body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  line-height: 1.7em !important;
  font-size: 16px;
}

html,
body,
#root {
  height: 100%;
}

#root {
  width: 100%;
  position: relative;
  display: flex;
}

.entry-list-page .card {
  padding-bottom: 2em !important;
  margin-bottom: 6em !important;
}

.content-header {
  padding: 1em !important;
  margin-bottom: 0 !important;
}


/* compensate for fixed menu */

body {
  padding-top: 80px !important;
}

.fla-logo {
  height: 60px;
  margin: 0 1em;
}

@media only screen and (max-width: 400px) {
  .fla-logo {
    height: 32px;
    margin: 0 0.2em;
  }
}

.home-page {
  margin: 0;
  width: 100%;
}

.home-links {
  padding-left: 0;
  list-style-type: none;
  display: flex;
  justify-content: space-evenly;
}

.home-link {
  font-size: 2em;
  margin: 1em 0;
}

a,
a:visited {
  color: rgb(158, 55, 38) !important
}

hr {
  background-color: rgba(158, 55, 38, 0.4);
  border: 0 none;
  color: rgba(158, 55, 38, 0.4);
  height: 1px !important;
}

hr.padded {
  margin: 4em;
}

.dont-break-out {
  /* These are technically the same, but use both */
  overflow-wrap: break-word;
  word-wrap: break-word;
  -ms-word-break: break-all;
  /* This is the dangerous one in WebKit, as it breaks things wherever */
  word-break: break-all;
  /* Instead use this non-standard one: */
  word-break: break-word;
  /* Adds a hyphen where the word breaks, if supported (No Blink) */
  -ms-hyphens: auto;
  -moz-hyphens: auto;
  -webkit-hyphens: auto;
  hyphens: auto;
}

@media only screen and (max-width: 767px) {
  .ui.container.entry-list-page,
  .ui.container.entry-page {
    width: auto!important;
    margin-left: 0 !important;
    margin-right: 0 !important;
  }
}

.list-tools {
  display: flex;
  justify-content: space-between;
}